.checkout {
    display: flex;
    padding: 20px;
    /* background-color: white; */
    height: max-content;
}

.checkout__left {
    background-color: white;
}

.checkout__ads {
    width: 100%;
    margin-bottom: 10px;
}

.checkout__title {
    margin-left: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.checkout__delete {
    font-weight: 600;
    color: darkgray;
    cursor: pointer;
}