.footerLS {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    margin-top: 34px;
    padding: 30px;
    background-color: #FBFBFB;
    font-size: 12px;
}

.footerLS__top > span {
    margin-right: 20px;
}

.footerLS > p {
    margin-top: 20px;
}